---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="List Novel"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<h5>#</h5>
<p><a href="https://wispy-dream.floral.workers.dev/blog/86/">86</a></p>
<h5>A</h5>
<p><a href="https://wispy-dream.floral.workers.dev/blog/arifureta/">Arifureta</a></p>
<h5>B</h5>
<p>-</p>
<h5>C</h5>
<p>-</p>
<h5>D</h5>
<p>-</p>
<h5>E</h5>
<p>-</p>
<h5>F</h5>
<p>-</p>
<h5>G</h5>
<p>-</p>
<h5>H</h5>
<p>-</p>
<h5>I</h5>
<p>-</p>
<h5>J</h5>
<p>-</p>
<h5>K</h5>
<p>-</p>
<h5>L</h5>
<p>-</p>
<h5>M</h5>
<p>-</p>
<h5>N</h5>
<p>-</p>
<h5>O</h5>
<p>-</p>
<h5>P</h5>
<p>-</p>
<h5>Q</h5>
<p>-</p>
<h5>R</h5>
<p>-</p>
<h5>S</h5>
<p>-</p>
<h5>T</h5>
<p><a href="https://wispy-dream.floral.workers.dev/blog/torture-princess/">Torture Princess</a></p>
<h5>U</h5>
<p>-</p>
<h5>V</h5>
<p>-</p>
<h5>W</h5>
<p>-</p>
<h5>X</h5>
<p>-</p>
<h5>Y</h5>
<p>-</p>
<h5>Z</h5>
<p>-</p>
</layout>





