---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Wispy Dream. All rights reserved.
  <div class="social-links">
    <a href="https://t.me/Rahmanaja009" target="_blank">
      <span class="sr-only">Telegram</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/800px-Telegram_logo.svg.png" alt="Logo Telegram" width="24" height="24">
    </a>
    <a href="instagram.com/rahmaan_011" target="_blank">
      <span class="sr-only">Instagram</span>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF58H8w3pm_H5mgkihLstCFTyhzd3DOzE4pA&s" alt="Logo Instagram" width="24" height="24">
    </a>
    <a href="https://trakteer.id/kelinci_panggang" target="_blank">
      <span class="sr-only">Trakteer</span>
      <img src="https://edge-cdn.trakteer.id/images/mix/trakteer-icon-thumbnail.png?v=24-01-2025" alt="Logo Trakteer" width="24" height="24">
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 0.9em;
  }
.social-links {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.5em;
  }
.social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
.social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
